body{
    font-family: arial;
    margin: 0;
    padding: 0;
}
/*menu*/
.sidebar{
    position: absolute;
    width:250px;
    height:100%;
    background: #333;
    color: #fff;
    outline: 1px solid #2a2a2a;
    transition: border 0.2s;

}
.sidebar h1{
    text-align: center;
    margin: 0;
    padding: 10;
    background: #2a2a2a;;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li{
    outline: 1px solid  #2a2a2a;
    transition: all 0.2s;
}
.sidebar li:hover{
    background:#444;
    border-left: 5px solid #eee;
}
.sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding:10px;
    font-size:25px;
}


/*contenedor*/
.conteiner-table{
    
    width:100%;
    background:white;
    color:black;
    margin: -202px 300px;

    display:grid;
    grid-template-columns:repeat(8 , 1fr);
    grid-auto-rows: 60px;
   
    
}

.tabla__title{
    grid-column-start:1 ;
    grid-column-end:9;
    background: rgba(40,65,120,1);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: bold;
    font-size:1.9em;
}

.table__header, .table__item{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.table__header{
    font-weight:bold;
    font-size:1.5em;
    margin-left: 25px;

}
.table__item{
    padding:10px;
    font-size:1.2em;
    box-shadow: 2px 2px 5px #999;
}

/*contenedor2*/
.conteiner-table2{
    
    width:100%;
    background:white;
    color:black;
    margin: -202px 300px;

    display:grid;
    grid-template-columns:repeat(8 , 1fr);
    grid-auto-rows: 60px;
    position:absolute; 
    z-index:3;  
  
  
    
}

.tabla__title2{
    grid-column-start:1 ;
    grid-column-end:9;
    background: rgba(40,65,120,1);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: bold;
    font-size:1.9em;
}

.table__header2, .table__item2{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.table__header2{
    font-weight:bold;
    font-size:1.5em;
    margin-left: 25px;

}
.table__item2{
    padding:10px;
    font-size:1.2em;
    box-shadow: 2px 2px 5px #999;
}


/*mostrar 3*/

.conteiner-table3{
    
    width:100%;
    background:white;
    color:black;
    margin: -202px 300px;

    display:grid;
    grid-template-columns:repeat(14 , 1fr);
    grid-auto-rows: 60px;
    position:absolute; 
    z-index:3;  
  
  
    
}

.tabla__title3{
    grid-column-start:1 ;
    grid-column-end:15;
    background: rgba(40,65,120,1);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: bold;
    font-size:1.9em;
}

.table__header3, .table__item3{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.table__header3{
    font-weight:bold;
    font-size:1.5em;
    margin-left: 25px;

}
.table__item3{
    padding:10px;
    font-size:1.2em;
    box-shadow: 2px 2px 5px #999;
}
.linea{
    position:absolute;
    z-index:0;
    top:380px;
   left:16em;
   background-color:rgba(255,0,0,1);
}

.linea_1{
    position:absolute;
    z-index:0;
    top:950px;
   left:16em;
   background-color:rgba(255,0,0,1);
}
/*mostrar 4*/

.conteiner-table4{
    
    width:100%;
    background:white;
    color:black;
    margin: -202px 300px;

    display:grid;
    grid-template-columns:repeat(6 , 1fr);
    grid-auto-rows: 60px;
    position:absolute; 
    z-index:3;  
  
  
    
}

.tabla__title4{
    grid-column-start:1 ;
    grid-column-end:7;
    background: rgba(40,65,120,1);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: bold;
    font-size:1.9em;
}

.table__header4, .table__item4{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.table__header4{
    font-weight:bold;
    font-size:1.5em;
    margin-left: 25px;

}
.table__item4{
    padding:10px;
    font-size:1.2em;
    box-shadow: 2px 2px 5px #999;
}

.linea_2{
    position:absolute;
    z-index:0;
    top:1200px;
   left:16em;
   background-color:rgba(255,0,0,1);
}
.linea_3{
    position:absolute;
    z-index:0;
    top:1800px;
   left:16em;
   background-color:rgba(255,0,0,1);
}
/*mostrar5*/
.conteiner-table5{
    
    width:100%;
    background:white;
    color:black;
    margin: -202px 300px;

    display:grid;
    grid-template-columns:repeat(5 , 1fr);
    grid-auto-rows: 60px;
    position:absolute; 
    z-index:3;  
    top:2300px;
  
    
}

.tabla__title5{
    grid-column-start:1 ;
    grid-column-end:6;
    background: rgba(40,65,120,1);
    color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-weight: bold;
    font-size:1.9em;
}

.table__header5, .table__item5{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.table__header5{
    font-weight:bold;
    font-size:1.5em;
    margin-left: 25px;

}
.table__item5{
    padding:10px;
    font-size:1.2em;
    box-shadow: 2px 2px 5px #999;
}

.linea_2{
    position:absolute;
    z-index:0;
    top:500px;
   left:16em;
   background-color:rgba(255,0,0,1);
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }